<?xml version='1.0' encoding='utf-8'?>
<widget
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.savestate.yeetball"
	versionCode="11"
	version="1.0.1" >

	<name>Yeet Ball</name>

	<description>
		
	</description>

	<author email="pgattic@gmail.com" href="pgattic.github.io">
		SaveState
	</author>

	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />

	<platform name="ios" />
	<platform name="android" />
	<platform name="winphone" />
	<icon src="icon.png" />

	<content src="index.html" />
	<access origin="*" />
</widget>
